.page-header {
    color:aqua;
}

.page-body {
    padding-bottom: 2rem;
    min-height: fit-content;
    min-width: 100rem;
}

.proj-container {
    width: 30vw;
    min-height: fit-content;
}

.ai-container {
    padding-right:2rem;
}

.web-app-container {
    padding-right:2rem;
}



.page-content {
    min-height: fit-content;
}

.desc-content {
    padding-left:1.5rem;
    padding-right:1.5rem;
    margin-top:1.5rem;
    background-color: rgb(0, 13, 38);
    border-radius: 2rem;
    min-height: fit-content;
    width: 80vw;
}

.proj-desc {
    font-size: x-large;
    color:skyblue;
    padding-bottom: 1rem;
}

.proj-title {
    color:white;
    padding-bottom:.5rem;
}