.App {
  text-align: center;
  background-color: #333333;
  height: 100vh;
  font-size: 20px;
}

.flex-container {
  display: flex;
  padding: 1rem;
  height: 96vh
}

.flex-child {
  flex: 1;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #aaaaaa;
  padding: 1rem;
  text-align: left;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.title {
  text-align: center;
  font-size: 2rem;
}

.input {
  height: 3vw;
  width: 10vw;
}

input.adv-check {
  height: 30px;
  width: 30px;
}

.output {
  background-color: #888888;
  border-radius: 10px;
  padding: 1rem;
}

.input-field {
  padding-bottom: .25rem;
}

.dmg-3 {
  padding-bottom: 2rem;
}

.hit-table {
  font-size: medium;
}