.App { 
    background-color:rgb(0, 22, 65);

    background-size: cover;
    min-width: 55rem;
  }

.navbar-container {
  background-color: rgb(0, 13, 38);
  height: 3.6rem;
}

.page-content {
  width: 100vw;
}